.whole-footer {
  position: relative;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
}

.footer-container {
  display: flex;
  bottom: 152px;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  height: 120px;
  text-align: center;
  width: 100%;
}

.footer-links {
  list-style: none;
  display: flex;
  margin: 10px;
}

.github-logo img{
  width: 100px; 
  height: auto;
  padding: 10px;
}

.genius-logo img{
  width: 100px;
  height: auto;
  padding: 10px;
}

.secondary-footer-container {
  height: 120px;
  background-color: black;
  text-align: center;
  width: 100%;
}

.secondary-footer-container span{
  color:white;
  font-size: 10px;
}