.song-art-url {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

.song-img-form-input {
  border: 2.5px solid #ccc;
  padding: 7px;
  margin-top: 6px;
  margin-bottom: 14px;
  font-size: 14px;
}

.song-img-submit {
  text-align: center;
  height: 35px;
  width: 59px;
  border: 2px solid #99a7ee;
  font-weight: 600;
  font-size: 14px;
  background-color: inherit;
  margin-left: 1px;
  color: #99a7ee;
}

.song-image-form-header {
  font-weight: 600;
  font-size: 13px;
  color: #99a7ee;
  border-bottom: 2px solid #99a7ee;
  padding-bottom: 8px;
  margin-bottom: 10px;
  position: relative;
  top: -3px;
}