.artist-header-container {
  max-height: 18em;
  height: 28vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.artist-header-img-container {
  height: 100%;
  width: 100%;
  filter: blur(2px);
  position: absolute;
  background-size: cover;
  background-position: center;
}

.artist-header-filler {
  width: 55%;
  position: relative;
  padding: 1em;
}

.artist-img-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.artist-body-container {
  background: #f7f7f7;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
}

.artist-name {
  font-size: 2.5em;
  font-family: 'Teko', sans-serif;
  margin-bottom: .5em;
}

.artist-img {
  border: 2px solid #38ef51;
  border-radius: 50%;
  width: 27vw;
  height: 27vw;
  max-width: 18em;
  max-height: 18em;
  position: relative;
  bottom: -2em;
  margin: 0 auto;
}

.artist-bio-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

.artist-bio {
  background: #fff;
  padding: 1em;
}

.artist-song-info {
  width: 55%;
  padding: 0 1em;
  padding-top: 3em;
}

.artist-pic {
  width: 100%;
  border-radius: 50%;
}