.artist-show-container {
  background: #f7f7f7;
}

.artist-header-img {
  max-height: 18em;
  height: 28vw;
  display: flex;
  background-size: cover;
  background-position: center;
  flex-direction: row;
}

.artist-header-container {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.artist-header-filler {
  width: 58%;
  position: relative;
  padding: 1em;
}

.artist-img-container {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.artist-body-container {
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 970px;
  width: 100%;
}

.artist-name {
  font-size: 2.5em;
  font-family: 'Teko', sans-serif;
  margin-bottom: .5em;
}

.artist-img {
  border: 2px solid #38ef51;
  border-radius: 50%;
  width: 27vw;
  height: 27vw;
  max-width: 18em;
  max-height: 18em;
  position: relative;
  bottom: -2em;
  margin: 0 auto;
}

.artist-bio-info {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

.artist-bio {
  background: #fff;
  padding: 1em;
  line-height: 1.3em;
}

.artist-bio h3 {
  font-size: .9em;
  font-weight: 600;
}

.artist-bio p {
  margin: 1em 0;
  font-weight: 400;
  font-size: .9em;
}

.artist-song-info {
  width: 58%;
  padding: 0 1em;
  padding-top: 3em;
}

.artist-pic {
  width: 100%;
  border-radius: 50%;
}

.open-bio {
  font-size: .9em;
  color: #7d8fe8;
  font-weight: 500;
}

.open-bio:hover {
  cursor: pointer;
  color: #a8b4f0;
}

.artist-song-list {
  display: flex;
  flex-wrap: wrap;
}

.artist-song-list-header {
  margin-bottom: 1em;
}

.artist-song-list-item {
  display: flex;
  background-color: #fff;
  min-width: 225px;
  min-height: 56.25px;
  width: 48%;
  margin: 0 1%;
}

.artist-song-list-item-info {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.artist-song-list-item-image {
  height: 75px;
  min-width: 75px;
  width: 75px;
}

.artist-song-list-item-title {
  font-family: Teko;
  font-size: 1.5em;
}

.artist-song-list-item-artist {
  font-weight: 500;
  font-size: .7em;
}